:root{
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0;
}

.headerContent {
    width: 100vw;
    height: 5rem;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}

.headerContent__Logo{
    width: 50px; /* Ajusta el tamaño de la imagen para que no se desborde */
    height: 50px;
    max-width: 100%;
    padding: 0.5rem;
}

.textContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 120px;
}

.textContent__texto{
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.textContent__texto p{
    text-align: justify;
}

.navegador {
    position: fixed;
    bottom: 0;
    width: 100vw ;
    display: flex;
    justify-content: space-around; 
    background-color: #f2f2f2; 
    padding: 10px;
    margin-top: 1rem;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); 
    padding: 10px 0;
}


.navegador__boton {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    
}

.navegador__boton:hover {
    background-color: #919191; /* Color de fondo al hacer hover */
}

.imagen {
    width: 50px; /* Ajusta el tamaño de la imagen para que no se desborde */
    height: 50px;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
}

/* Estilos para el label */
.label {
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
    color: #333; /* Color del texto */
}

/* Estilos Responsive para Tabletas */
@media (min-width: 600px) and (max-width: 950px) {
    .headerContent {
        justify-content: flex-start;
    }

    .textContent {
        margin-left: 15vw; /* Deja espacio para el header fijo */
        width: 80vw;
        flex-wrap: wrap; /* Permite que los elementos se agrupen en filas de 2 */
        align-items: flex-start;
        height: auto;
        padding: 20px; /* Añade algo de relleno */

    }

    .textContent__texto {
        width: 100%; /* Ajusta el ancho para que se agrupen en filas de 2 */
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2.5rem;
    }

    .textContent__texto article{
        width: 45%;
    }

    .textContent__texto p {
        font-size: 1.1rem; /* Aumenta ligeramente el tamaño de fuente */
    }

    .navegador {
        left: 0; /* Pegado al lado izquierdo */
        top: 50%; /* Centrado verticalmente */
        transform: translateY(-50%); /* Ajuste de centrado */
        height: auto;
        width: 15vw; /* Ancho similar al header */
        display: flex;
        flex-direction: column; /* Coloca el contenido en columnas */
        justify-content: flex-start;
    }

    .navegador__boton {
        justify-content: flex-start; 
        border: none;
        cursor: pointer;
        width: 100%; /* Toma todo el ancho */
    }

}




/* Estilos por pagina */
.angular{
    background-color: rgba(252, 192, 192, 0.856);
}

.angular__header{
    background-color: rgb(224, 81, 81);
    color: rgb(240, 240, 240);
}

.typescript{
    background-color: rgba(152, 194, 248, 0.774);
}

.typescript__header{
    background-color: rgb(21, 96, 167);
    color: rgb(240, 240, 240);
}

.ionic{
    background-color: rgba(129, 203, 252, 0.774);
}

.ionic__header{
    background-color: rgb(16, 103, 161);
    color: rgb(240, 240, 240);
}

